<div class="flash-messages">
  {{#each this.flashMessageService.queue as |message|}}
    <p>
      {{message.text}}
    </p>
  {{/each}}
</div>

<button type="button" {{on "click" this.doSomething}}>
  Do something
</button>